@font-face {
    font-family: 'reef';
    src: url('reef-webfont.woff2') format('woff2'),
         url('reef-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* CSS reset */

/* VARIABLES */
:root{
	--red: #E0241F;
	--blue: #1FDBE0;
	--purple: #851FE0;
	--green: #7AE01F;
}

/* VARIABLES */

main{
	min-height: 95vh;
	min-width: 100%;
	background-color: antiquewhite;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 0.2fr 1fr 1fr;
	grid-template-areas: 
	'heading heading heading'
	'board board scores'
	'board board scores';

}
h1{
	color: #6D6D6C;
	font-size: 2rem;
	font-family: 'reef', sans-serif;
	font-weight: 900;
	letter-spacing: 3px;
}
h2{
	font-size: 1rem;
	color: black;
}
#heading{
	display: flex;
	justify-content: flex-start;
	align-items: center;
	grid-area: heading;
}
#prompt{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	display: none;
}

#game-board{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr;
	grid-area: board;
}

#score-board{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	grid-area: scores;
}
