@font-face {
    font-family: 'reef';
    src: url('../fonts/reef-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* CSS reset */

/* VARIABLES */
:root{
	--red: #E0241F;
	--blue: #1FDBE0;
	--purple: #851FE0;
	--green: #7AE01F;
}

/* VARIABLES */
/* body{
	overflow: hidden;
} */
main{
	min-height: 95vh;
	width: 100%;
}

button{
  background-image: linear-gradient(92.88deg, #455EB5 9.16%, #5643CC 43.89%, #673FD7 64.72%);
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  flex-shrink: 0;
  font-family: "Inter UI","SF Pro Display",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue",sans-serif;
  font-size: 16px;
  font-weight: 500;
  height: 4rem;
  padding: 0 1.6rem;
  text-align: center;
  text-shadow: rgba(0, 0, 0, 0.25) 0 3px 8px;
  transition: all .5s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

button:hover {
  box-shadow: rgba(80, 63, 205, 0.5) 0 1px 30px;
  transition-duration: .1s;
}

@media (min-width: 768px) {
  .button-36 {
    padding: 0 2.6rem;
  }
}

label{
	color: white;
	font-size: 3rem;
	font-family: 'reef', sans-serif;
}

#char-input{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 1rem;
}
.marker-selector{
	width: 7rem;
	height: 7rem;
	border-radius: 5%;
	background-color: rgb(47, 48, 54);
}

#indicators{
	display: flex;
	justify-items: center;
	align-items: center;
	gap: 1rem;
}

#char-input{
	display: flex;
	flex-direction: column;
}

#main-section{
	min-height: 95vh;
	width: 100%;
	background-color: antiquewhite;
	display: grid;
	padding-top: 0px;
	grid-template-columns: 1.5fr 0.3fr 0.9fr;
	grid-template-rows: 0.2fr 1fr 1fr;
	grid-template-areas: 
	'heading heading heading'
	'board gap scores '
	'board gap scores ';
}

#player-name{
	height: 2rem;
	width: 20rem;
	background-color: rgb(47, 48, 54);
	box-sizing: border-box;
	box-shadow: rgba(151, 65, 252, 0.25) 0px 54px 55px, rgba(151, 65, 252, 0.12) 0px -12px 30px, rgba(151, 65, 252, 0.12) 0px 4px 6px, rgba(151, 65, 252, 0.15) 0px 12px 13px, rgba(151, 65, 252, 0.09) 0px 3px 5px;;
	border-radius: 5px;
	border: none;
	color: white;
	font-family: 'reef', sans-serif;
	font-size: 2rem;
}

h1{
	color: #04010C;
	font-size: 2rem;
	font-family: 'reef', sans-serif;
	font-weight: 900;
	letter-spacing: 3px;
}

.main-heading{
	color: white;
	border-bottom: 3px solid white;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
}

h2{
	font-size: 1rem;
	color: black;
}
#heading,
#prompt,
.area,
#score-board{
	display: flex;
	align-items: center;
}
#heading{

	justify-content: flex-start;

	background-color: #290d7c;
	grid-area: heading;
	padding: 16px;
}

#character-create{
	flex-direction: column;
	justify-content: space-between;
	width: 100%;
	height: 100vh;
	background-color: rgb(25, 26, 27);
}

#create-heading{
	font-size: 6rem;
}

#prompt{
	flex-direction: column;
	justify-content: center;
	display: none;
}

#game-board{
	background-color: #3B3B3A;
	display: grid;
	border-radius: 5%;
	margin: 16px;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr;
	grid-area: board;
	gap: 5px;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
	border-radius: 5px;
}

#gap{
	grid-area: gap;
	
}

.area{
	font-family: 'reef', sans-serif;
	background-color: white;
	border-radius: 5px;
	font-size: 15rem;
	justify-content: center;
}

#score-board{
	flex-direction: column;
	justify-content: center;
	grid-area: scores;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
	margin: 16px;
	border-radius: 5px;
	background-color: white;
}

.marker{
	width: 150px;
	height: 150px;
}